.App {
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
}

/* The header section */
.header {
  background-color: #2a5a97;
  padding: 10px;
  width: 100%;
}
.header h1 {
  text-align: left;
  color: white;
  font-size: 300%;
}
.header h2 {
  text-align: left;
  color: #94a4b3;
  font-size: 100%;
}

.header h3 {
  text-align: center;
  color: white;
  font-size: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
/* CONTENT */
.content {
  padding: 10px;
  text-align: center;
  /* min-height: 700px; */
}

.display {
  color: #2a5a97;
  font-size: 300%;
  margin: auto;
  /* border: 1px solid black; */
  min-height: 60px;
}

.calculator {
  /* border: 1px solid black; */
  justify-content: center;
}

.calc-box {
  /* border: 1px solid black; */
  display: flex;
  width: 250px;
  height: auto;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* .numbers {
  flex-direction: row-reverse;
} */

.numberButtons {
  padding: 20px;
  margin-top: 10px;
  background-color: #f49446;
  color: #2a5a97;
  list-style: none;
  flex-grow: 1;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 0 5px #2a5a97;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

.oppButtons {
  padding: 20px;
  margin-top: 10px;
  background-color: #f49446;
  color: #2a5a97;
  list-style: none;
  flex-grow: 1;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 0 5px #2a5a97;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}

/* Animation on button */
/* All button */
.numberButtons:active,
.oppButtons:active {
  color: #f49446;
  background: #2a5a97;
  box-shadow: 0 0 10px #f49446, 0 0 40px #f49446, 0 0 80px;
  transform: translateY(4px);
}

/* footer */
.footer {
  /* position: fixed; */
  bottom: 0px;
  background-color: #2a5a97;
  padding: 10px;
  text-align: center;
  color: #f49446;
  width: 100%;
}
